## {{ burp_conf_dir }}/burpui.cfg
# Burp-UI configuration file
# {{ ansible_managed }}

[Global]
backend = burp2
auth = basic
#prefix = none

[UI]

[Production]
database = sqlite:///{{ burp_conf_dir }}/burpui.db

[WebSocket]
enabled = false

[Security]
includes = {{ burp_conf_dir }}
enforce = true
revoke = true

[Burp]
bhost = {{ burp_server }}
bport = {{ burp_status_port }}
burpbin = /usr/sbin/burp
stripbin = /usr/sbin/vss_strip
bconfcli = {{ burp_conf_dir }}/burp.conf
bconfsrv = {{ burp_conf_dir }}/server.conf
tmpdir = /tmp/burp-ui
timeout = 15

[BASIC]
admin = "{{ burpui_pw_hash }}"

[BASIC:AUTH]
admin = "{{ burpui_pw_hash }}"
